*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

.DS_Store
.gitignore
.svn/
ABOUT-NLS
COPYING
COPYING.LIB
COPYING.RUNTIME
COPYING3
COPYING3.LIB
ChangeLog
ChangeLog.tree-ssa
INSTALL/
MAINTAINERS
Makefile.def
Makefile.in
Makefile.tpl
README
boehm-gc/
compile
config/
config-ml.in
config.guess
config.rpath
config.sub
configure
configure.ac
contrib/
depcomp
fixincludes/
gcc/*
gnattools/
include/
install-sh
intl/
libada/
libatomic/
libbacktrace/
libcpp/
libdecnumber/
libffi/
libgcc/
libgfortran/
libgo/
libgomp/
libiberty/
libitm/
libjava/
libmudflap/
libobjc/
libquadmath/
libsanitizer/
libssp/
libstdc++-v3/
libvtv/
cloog
cloog-0.18.0/
gmp
gmp-4.3.2/
isl
isl-0.11.1/
libvtv/
mpc
mpc-0.8.1/
mpfr
mpfr-2.4.2/
libtool-ldflags
libtool.m4
ltgcc.m4
ltmain.sh
lto-plugin
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
maintainer-scripts/
missing
mkdep
mkinstalldirs
move-if-change
symlink-tree
ylwrap
zlib/
*.patches
*.orig
a.out
